<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Stock Portafolio Suggestion Engine</h1>
        <h3>Select one or more strategies</h3>
        <form method='POST'>
            <input type="checkbox" id="strategy1" name="strategies[]" value="Ethical Investing">
            <label for="strategy1">Ethical Investing</label><br>
            <input type="checkbox" id="strategy2" name="strategies[]" value="Growth Investing">
            <label for="strategy2">Growth Investing</label><br>
            <input type="checkbox" id="strategy3" name="strategies[]" value="Index Investing">
            <label for="strategy3">Index Investing</label><br>
            <input type="checkbox" id="strategy3" name="strategies[]" value="Quality Investing">
            <label for="strategy3">Quality Investing</label><br>
            <input type="checkbox" id="strategy3" name="strategies[]" value="Value Investing">
            <label for="strategy3">Value Investing</label><br><br>
            <input type="number" name="investment_amount" placeholder="Investment Amount ($)" required><br><br>
            <input type="submit" value="Submit">
          </form>
    </body>
</html> 