<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wealth Wise</title>
  <link rel="icon" href="static/logo/title.png" type="image/x-icon" >
  <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

<header>
  <div class="container">
    <div class="logo">
      <img src="static/logo/logo.png" alt="Logo">
    </div>
    <nav>
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a href="#risk-levels">Blogs</a></li>
        <li><a href="#investment-section">Stock Suggestor</a></li>
        <li><a href="#customer-reviews">About</a></li>
        <li><a href="#team-section">Team</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="hero" id="hero">
  <div class="container">
    <div class="hero-content">
      <div class="gif">
        <img src="static/logo/WealthWise.png" alt="logo">
      </div>
      <div class="message">
        <p>Find the <b>best investment strategies</b> for all <b>your money</b>.</p>
      </div>
    </div>
  </div>
</section>

<section class="risk-levels" id="risk-levels">
  <div class="container">
    <div class="risk-content">
    <p class="section-risks"><b>Choose</b> <span style="color: #CEB257;">the right </span><b>level of risk</b> <span style="color: #CEB257;">for different </span><b>chunks of your change</b></p>
      <div class="gif-risk">
        <img src="static/pictures/plane.png" alt="Plane GIF">
      </div>
    </div>
      <div class="content">
      <div class="panels">
        <!-- Panel 1 -->
        <div class="panel">
          <img src="static/pictures/ethical.png" alt="Image 1">
          <h2>Ethical Investing</h2>
          <p>It is an investment strategy where the investor's ethical values (moral, religious, social) are the primary objective, along with good returns. With suspicious and illegal investment deals on the rise, many investors are starting to insist that companies they invest in are socially responsible.</p>
          <a href="https://corporatefinanceinstitute.com/resources/esg/ethical-investing/#:~:text=Ethical%20investing%20is%20an%20investment,invest%20in%20are%20socially%20responsible.">Learn More</a>
        </div>
        <!-- Panel 2 -->
        <div class="panel">
          <img src="static/pictures/growth.jpeg" alt="Image 2">
          <h2>Growth Investing</h2>
          <p>It is a stock-buying strategy that looks for companies that are expected to grow at an above-average rate compared to their industry or the broader market. Growth investors tend to favor smaller, younger companies poised to expand and increase profitability potential in the future.</p>
          <a href="https://www.investopedia.com/terms/g/growthinvesting.asp#:~:text=Growth%20investing%20is%20a%20stock,profitability%20potential%20in%20the%20future.">Learn More</a>
        </div>
        <!-- Panel 3 -->
        <div class="panel">
          <img src="static/pictures/index.png" alt="Image 3">
          <h2>Index Investing</h2>
          <p>It involve passive investing, using a long-term strategy without actively picking securities or timing the market. Index funds should match the risk and return of the market based on the theory that, in the long term, the market will outperform any single investment</p>
          <a href="https://www.investopedia.com/terms/i/indexfund.asp#:~:text=Index%20funds%20involve%20passive%20investing,will%20outperform%20any%20single%20investment.">Learn More</a>
        </div>
        <!-- Panel 4 -->
        <div class="panel">
          <img src="static/pictures/quality.jpeg" alt="Image 4">
          <h2>Quality Investing</h2>
          <p>It strategies seek to buy financially healthy companies that have strong earnings and stable balance sheets. Quality is about trying to find companies that are efficient with capital.</p>
          <a href="https://www.ishares.com/us/insights/what-is-quality-investing">Learn More</a>
        </div>
        <!-- Panel 5 -->
        <div class="panel">
          <img src="static/pictures/value.png" alt="Image 5">
          <h2>Value Investing</h2>
          <p>It is a stock picking strategy where you buy stocks that you think are worth more than their current price. Value stocks are companies whose share prices are lower than they “should” be, judging by metrics such as earnings per share.</p>
          <a href="https://www.nerdwallet.com/article/investing/value-investing#:~:text=Value%20investing%20is%20a%20stock,such%20as%20earnings%20per%20share.">Learn More</a>
        </div>
        <!-- Panel 6 -->
        <div class="panel">
          <img src="static/gif/learn.gif" alt="Image 5" style="max-width: 250px;">
          <h2>Educate yourself</h2>
          <p>The educational resources provided on this page.</p>
          <a href="https://www.investopedia.com/articles/basics/06/invest1000.asp">Learn More</a>
        </div>
        <!-- Panel end -->
      </div>
    </div>
  </div>
</section>

<section class="investment-section" id="investment-section">
  <div class="container">
    <div class="investment-content ">
            <div class="text">
      <div class="investment-gif">
        <img src="static/pictures/Rocket.png" alt="GIF">
      </div>

        <h2>Investing for you, <span style="color: #CEB257;">managed by us.</span></h2>
      
        <form>
          <h1>Stock Suggester</h1>
          <p>Enter an amount to invest $:
          <input type="number" placeholder="5000" min="5000"></p>
          <p><span style="color: #CEB257;">Select one or two strategies:</p></span>
        
        <div class="investment-panels">
          <!-- Panel 1 -->
          <div class="investment-panel">
            <img src="static/pictures/ethical-1.png" alt="Image 1">
            <h3>Ethical Investment</h3>
            <input type="checkbox" name="strategy1" id="strategy1">
          </div>
          <!-- Panel 2 -->
          <div class="investment-panel">
            <img src="static/pictures/growth-1.png" alt="Image 2">
            <h3>Growth Investment</h3>
            <input type="checkbox" name="strategy1" id="strategy2">
          </div>
          <!-- Panel 3 -->
          <div class="investment-panel">
            <img src="static/pictures/index-1.png" alt="Image 3">
            <h3>Index Investment</h3>
            <input type="checkbox" name="strategy1" id="strategy3">
          </div>
          <!-- Panel 4 -->
          <div class="investment-panel">
            <img src="static/pictures/quality-1.png" alt="Image 4">
            <h3>Quality Investment</h3>
            <input type="checkbox" name="strategy1" id="strategy4">
          </div>
          <!-- Panel 5 -->
          <div class="investment-panel">
            <img src="static/pictures/value-1.png" alt="Image 5">
            <h3>Value Investment</h3>
            <input type="checkbox" name="strategy1" id="strategy5">
          </div>
          <!-- Add more panels-->
        </div>
            <button type="submit">Submit</button>
          </form>
        </div>
        </div>   
</section>

<section class="customer-reviews" id="customer-reviews">
  <div class="reviews-container">
    <div class="reviews-content">
      <div class="reviews-title">
    <h1><span style="color: #CEB257;">Don’t</span> just take <span style="color: #CEB257;">our word</span> for it.</h1>
    <h2>Here's what <span style="color: #CEB257;">our customers have to say</span> about us</h2>
  </div>
    <div class="reviews-img">
      <img src="static/pictures/review.png" alt="Image">
    </div>
  </div>
    <div class="review-panels">
      <!-- Review Panel 1 -->
      <div class="review-panel">
        <h3>Saves the stress and hassle of handling investments.</h3>
        <p>Sam A.</p>
      </div>
      <!-- Review Panel 2 -->
      <div class="review-panel">
        <h3>"I trust the automated algorithms better than my picks."</h3>
        <p>Elon M.</p>
      </div>
      <!-- Review Panel 3 -->
      <div class="review-panel">
        <h3>It's a good "set-it-and-forget-it" investing tool for my family.</h3>
        <p>Mukesh A.</p>
      </div>
      <!-- Review Panel 4 -->
      <div class="review-panel">
        <h3>Simple investment options that are diversified, and balanced at the right time.</h3>
        <p>Jeff B.</p>
      </div>
    </div>
  </div>
</section>

<section class="faq-section" id="faq-section">
  <div class="faq-container">
    <div class="column">
      <h2>Still have any questions?</h2>
      <img src="static/pictures/question.png" alt="Image" style="display: block; margin: 0 auto;">
    </div>
    <div class="column">
      <div class="questions">
        <div class="question">
          <h3>How does it work?</h3>
          <div class="answer">
            <p>This is a simple stock suggestion engine where each investment is mapped to 3 stocks, Each selection investment shows you the analysis of how the investment can be distributed to different stock options.</p>
          </div>
        </div>
        <div class="question">
          <h3>where can I buy stocks?</h3>
          <div class="answer">
            <p>This website does not allow you to buy stock but there are multiple options online such as J.P. Morgan Wealth Management, SoFi, RobinHood, Acorn and more.</p>
          </div>
        </div>
        <div class="question">
          <h3>whose the expert behind this?</h3>
          <div class="answer">
            <p>We are student currently pursuing Master's in Software Engineering at San Jose State University. We have a section below dedicated to the developer team.</p>
          </div>
        </div>
        <div class="question">
          <h3>where can I have a real portfolio?</h3>
          <div class="answer">
            <p>This website does not allow you to buy stock but there are multiple options online such as J.P. Morgan Wealth Management, SoFi, RobinHood, Acorn and more.</p>
          </div>
        </div>
        <div class="question">
          <h3>What the investment and stock mapping?</h3>
          <div class="answer">
            <p>Ethical Investment - ( ) ( ) ( ), Growth Investment - ( ) ( ) ( ), Index Investment - ( ) ( ) ( ), Quality Investment - ( ) ( ) ( ), Value Investment - ( ) ( ) ( ).</p>
          </div>
        </div>
        <!-- Repeat the structure for other questions -->
      </div>
    </div>
  </div>
</section>

<section class="team-section" id="team-section">
  <div class="container">
    <h2>OUR TEAM <span style="color: #0f054b;">AND</span> EXPERTS</h2>
    <div class="team-members">
      <!-- Team Member 1 -->
      <div class="team-member">
        <img src="static/pictures/profile1.avif" alt="Developer 1">
        <h3>Umang Patel</h3>
        <p>Frontend, UI Designer</p>
      </div>
      <!-- Team Member 2 -->
      <div class="team-member">
        <img src="static/pictures/profile2.avif" alt="Developer 2">
        <h3>Markus Valvur</h3>
        <p>Software Engineer</p>
      </div>
      <div class="team-member">
        <img src="static/pictures/profile3.avif" alt="Developer 3">
        <h3>Gerardo Moreno</h3>
        <p>Backend Engineer</p>
      </div>
      <div class="team-member">
        <img src="static/pictures/profile4.avif" alt="Developer 4">
        <h3>Abhilash Tayade</h3>
        <p>Software Engineer</p>
      </div>
      <!-- Add more team members as needed -->
    </div>
  </div>
</section>



<div id="disclaimer-banner" class="disclaimer-banner">
  <div class="disclaimer-content">
    <p>Disclaimer: The content on this website is for informational purposes only and should not be considered as financial advice. All investment decisions are at your own risk.</p>
    <button id="close-banner">Close</button>
  </div>
</div>

</body>

<footer class="footer">
  <div class="container">
    <h2>Disclaimer: The content on this website is for informational purposes only and should not be considered as financial advice. All investment decisions are at your own risk.</h2>
    <p>&copy; 2024 CMPE 285. All rights reserved.</p>
  </div>
</footer>

</html>

<script>

// Get the close button and disclaimer banner elements
const closeButton = document.getElementById('close-banner');
const disclaimerBanner = document.getElementById('disclaimer-banner');

// Add event listener to close button
closeButton.addEventListener('click', () => {
  // Hide the disclaimer banner
  disclaimerBanner.style.display = 'none';
});

// Select all investment panels
const investmentPanels = document.querySelectorAll('.investment-panel');

// Track the number of selected panels
let selectedCount = 0;

// Add click event listener to each panel
investmentPanels.forEach(panel => {
  panel.addEventListener('click', () => {
    // Check if the maximum limit of two selections is reached
    if (selectedCount < 2 || panel.classList.contains('selected')) {
      // Toggle the 'selected' class on the clicked panel
      panel.classList.toggle('selected');

      // Update the selected count
      if (panel.classList.contains('selected')) {
        selectedCount++;
      } else {
        selectedCount--;
      }
    }
  });
});

document.addEventListener('DOMContentLoaded', () => {
  // Select all FAQ questions
  const faqQuestions = document.querySelectorAll('.question');

  // Add click event listener to each question
  faqQuestions.forEach(question => {
    const answer = question.querySelector('.answer');
    question.addEventListener('click', () => {
      question.classList.toggle('clicked');
      answer.classList.toggle('show-answer');
    });
  });
});


</script>
