<html>
    <head>
        <title>Index Page</title>
    </head>
    <body>
        <h1>This page queries stock information. Enter the symbol of a company.</h1>
        <form method='POST'>
            <input type='string' name='symbol' required>
            <button type='submit'>Get Stock Info</button>
        </form>
        {% if result is not none %}
        <div>
            <p>{{current_time}}
            <p>{{result['longName']}}</p>
            <p>
                {{result['currentPrice']}} {{result['difference']}} {{result['differencePercentage']}}%
            </p>
        </div>
        {% endif %}
    </body>
</html> 